__pycache__/
*.py[cod]
*$py.class

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project-specific
data/*
!data/ViLexNorm/
logs/
checkpoints/
